.posts{
    padding: 80px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;


}

@media screen and (max-width: 480px) {
    .posts {
        display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    /* grid-column-gap: 20px; */
    grid-row-gap: 10px;
    }
  }